title: Gabriel Missael Barco
subtitle: PhD student @ Université de Montréal & Mila
email: missaelgabo@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Astrophysics × Probabilistic ML | PhD student @ Université de Montréal & Mila
twitter_username: GMissaelBarco
github_username: GabrielMissael
minimal_mistakes_skin: default
search: false
locale: "en-US"
repository: "GabrielMissael/GabrielMissael.github.io"
teaser: /assets/images/500x300.png
logo: "/assets/images/88x88.png"

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 10 # amount of posts to show
paginate_path: /page:num/
timezone: America/Montreal # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  # name   : ""
  avatar : "/assets/images/bio-photo.jpg"
  bio    : >-
  location: "Montréal, Canada"
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/GabrielMissael"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/gmissaelbarco/"
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:gabriel.missael.barco@umontreal.ca"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/GMissaelBarco"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/GabrielMissael"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/gmissaelbarco/"
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:gabriel.missael.barco@umontreal.ca"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
      show_date: true
      read_time: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

og_image: /assets/images/bio-photo.jpg
